<div class='wrapper'>
	<h2>{{title}}</h2>
	<b>Author: </b>
	<p>{{author}}</p>
	<b>Rating: </b>
	<p>{{rating}}/10</p>
	<b>Description: </b>
	<p style='width:35vw'> {{description}}</p>

	<a href='/books/{{_id}}/edit' class='orange big'>Edit</a>
	<a class='big' href='/books'>Go Back</a>
</div>
