<div class='anchor'>
	<a href='/books/create' class='anchor'>Add a Book</a>
</div>
<div id='booksWrapperDiv'>

	{{#each books}}
		<div class='book'>
			<h3> {{title}}</h3>
			<p> {{author}} </p>
			<div>
				<a href='/books/{{_id}}'>Details</a>
				<a href='/books/{{_id}}/edit' class='orange'>Edit</a>
				<form action='/books/{{_id}}/delete' method='post'>
					<button class='red'>Delete</button>
				</form>

			</div>
		</div>
	{{/each}}

</div>

<div class='anchor'>
	<a href='/'>Go Back</a>
</div>
